
table{
    border-collapse: collapse;
}

table tr td{
    height: 50px;
    width: 50px;
    border: 1px solid black;
}

table tr td img{
    height: 45px;
    width: 45px;
}

.blacksPlace{
    background-color: #C0C0C0;
}

.possiblePlace{
    background-color: #696969;
}

.canEat{
    background-color: #ff6347;
}

.currentSelected{
    background-color: #7abcc9;
}
